<footer id="main-footer">
    <a href="#top" title="Mergi la începutul paginii">Înapoi la început</a>
    <address>
        <p>Sediu Magazin:<br>
            Strada Dunării, nr. 1,<br>
            Giurgiu, România<br>
            (Locație: <a href="https://www.google.com/maps/search/Facultatea+de+Matematica+si+Informatica+Bucuresti"
                target="_blank">Facultatea de Matematica si Informatica</a>)
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91164.29759133425!2d25.967750762499993!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1773502653949!5m2!1sro!2sro"
            width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Telefon (<b>serviciu suport clienti</b>): <a href="tel:+40770426308">0770 426 308</a></p>
        <p>E-mail: <a href="mailto:contact@danubetackle.ro">contact@danubetackle.ro</a></p>
        <p>Suport WhatsApp: <a href="https://wa.me/40770426308" target="_blank">Chat rapid</a></p>
        <p><b>Program magazin pescuit Dunare</b>: Luni-Sâmbătă, 08:00 - 18:00</p>
    </address>
    <p><small>© 2026 Danube Tackle Hub Giurgiu. Creat la data de <time datetime="2026-03-02">2 martie
                2026</time>.</small></p>
    <p id="banner-proiect">Acesta este un proiect școlar!</p>

    <!-- <p style="margin-top: 10px; font-weight: bold; color: var(--color-primary);">
        IP-ul tău: <%= locals.ip %>
    </p> -->
    <p
        style="margin-top: 10px; font-weight: bold; color: white; background-color: rgba(0,0,0,0.5); display: inline-block; padding: 5px 10px; border-radius: 5px;">
        IP-ul tău: <%= locals.ip %>
    </p>
</footer>

<a href="#top" id="link-top" title="Mergi la începutul paginii">
    <div class="rotating-circle"></div>
    <span class="arrow">↑</span>
    <span class="tooltip-text">Apasă aici pentru a reveni la începutul paginii</span>
</a>