<header id="top">
    <h1>Danube Tackle Hub <i class="fa-solid fa-anchor fa-beat-fade"></i> <span>Giurgiu</span></h1>
    <nav>
        <input type="checkbox" id="ch-menu">

        <label id="hamburger" for="ch-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>

        <ul class="menu">
            <li>
                <div class="icon-text-container">
                    <div class="text-icon">Acasa</div>
                    <div class="icon-img"><i class="fa-solid fa-house"></i></div>
                </div>
                <ul class="submenu">
                    <li><a href="/#welcome">Bine ati venit</a></li>
                    <li><a href="/#categories">Categorii Specii Dunare</a></li>
                    <li><a href="/#prohibition">Perioada Prohibiție</a></li>
                    <li><a href="/#events">Evenimente</a></li>
                    <li><a href="/#stats">Cota Dunării</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-text-container">
                    <div class="text-icon">Produse</div>
                    <div class="icon-img"><i class="fa-solid fa-box-open"></i></div>
                </div>
                <ul class="submenu">
                    <li><a href="#">Pescuit la Somn</a></li>
                    <li><a href="#">Pescuit la Crap</a></li>
                    <li><a href="#">Rapitori - Spinning</a></li>
                    <li><a href="#">Feeder & Stationar</a></li>
                    <li><a href="#">Barci & Motoare</a></li>
                </ul>
            </li>
            <li>
                <a href="/blog">
                    <div class="text-icon">Blog Pescuit</div>
                    <div class="icon-img"><i class="fa-solid fa-book"></i></div>
                </a>
            </li>
            <li>
                <a href="/permise">
                    <div class="text-icon">Ghid ANPA & PG</div>
                    <div class="icon-img"><i class="fa-solid fa-id-card"></i></div>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <div class="text-icon">Contact</div>
                    <div class="icon-img"><i class="fa-solid fa-envelope"></i></div>
                </a>
            </li>
        </ul>
    </nav>
</header>